*{
    margin: 0;
    text-decoration: none;
    list-style: none;
}

footer{
    padding: 80px 13% 30px;
    background-color: #efecec;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.h4{
    margin-bottom: .4rem;
    font-size: 1.5rem;  
}

.underline{
    background-color: rgb(255, 58, 97);
    width: 4rem;
    height: .01rem;
}

.common-class li a {
    color: black;
    display: block;
}

.common-class li{
    margin-bottom: 10px;
}

.common-class li a:hover{
    transform: translateY(-3px) translateX(-3px);
    transition: all 0.5s ease;
}

.icons *{
    display: inline-block;
    color: rgb(132, 143, 146);
    font-size: xx-large;
    margin: 0 .5rem;
}


#facebook{
    color: rgb(58, 130, 255);
}
#youtube{
    color: rgb(255, 64, 64);
}
#pinterest{
    color: rgb(248, 35, 35);
}
#linkdin{
    color: rgb(58, 130, 255);
}
