/* *{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.searcharea{
  margin: 100px;
  padding: 100px;
  /* background-color: grey; 
  border: 1px solid red;
}
.searchbox input{
  
  width: 90px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #1F1F1F;
  font-size: 1rem;
  padding: 0px 10px;
}
.searchbox input::placeholder{
color: #1D1D1D;
font-weight:400;
letter-spacing: 2px;
font-size: 0.8rem;
font-family: poppins;

} */





.parent{
  display: flex;
  justify-content: center;
  text-align: center;
  
}